@import "../global/paddingMargin";
@import "../global/colors";

.equationContainer{
  width: 100%;
  background-color: $equationBackground;
  color: white;
  padding: $componentPadding 0;
  border-radius: $componentBorderRadius;
  font-size: 0.8vw;
}
