/* #logoComponent */
@import "../global/paddingMargin";
$logoHeight: 80px;

#logoComponent{
  padding: 2% 0 0 $componentPadding;
}

.logoName, .mouseLogo{
  float: left;
}
.brand{
  width: 90%;
  margin: 0 auto;
}
.mouseLogo{
  height: $logoHeight;
}
.logoName{
  line-height: $logoHeight;
}
.logoSub{
  font-size: 20px;
  font-style: italic;
}

