/* #logoComponent */
@import "../global/paddingMargin";
$logoHeight: 80px;

#logoComponent{
  padding: 2% 0 0 $componentPadding;
}

.mouseLogo{
  height: $logoHeight;
  margin-right: $componentPadding;
  float: right;
}
