/* #alignedSequenceComponent */
.matrixTable{
  cursor: pointer;
}

.tableCells{
  width: 50px;
  height: 50px;
  border-radius: 5px;
  color: white;
}

.innerCell{
  color: #2d2d2d;
}

.chosenPath{
  background-color: cornflowerblue !important;
}

.selectedNode{
  background-color: mediumaquamarine !important;
}

.ascenderNode{
  background-color: thistle !important;
}

@media only screen and (max-width: 425px){
  .tableCells{
    width: 30px;
    height: 30px;
  }
}

