.chosenPath{
  background-color: cornflowerblue;
}

.selectedNode{
  background-color: mediumaquamarine;
}

.ascenderNode{
  background-color: thistle;
}

.matrixTable, .pathList{
  cursor: pointer;
}
