/* #alignedSequenceComponent */
.matrixTable{
  cursor: pointer;
  border: 1px solid black;
  background-color: white;
}

.tableCells{
  width: 30px;
  height: 30px;
}

.chosenPath{
  background-color: cornflowerblue;
}

.selectedNode{
  background-color: mediumaquamarine;
}

.ascenderNode{
  background-color: thistle;
}
