/* #alignmentPathComponent */
.pathList{
  list-style: none;
  cursor: pointer;
}

.path{
  padding: 5px;
  margin-bottom: 2%;
  border-radius: 5px;
}

.pathNucleotide{
  margin: 3px;
  padding: 3px;
  color: white;
  font-weight: bold;
}

.pathString:first-child{
  margin-bottom: 3px;
}

@media only screen and(max-width: 425px){
  .path{
    border: none;
  }
}
