/* #alignmentPathComponent */
.pathList{
  list-style: none;
  cursor: pointer;
}

.path{
  padding: 1.5%;
  margin-bottom: 2%;
  border-radius: 5px;
}


.pathNucleotide{
  margin: 3px;
  padding: 3px;
  color: white;
  font-weight: bold;
}

.pathString:first-child{
  margin-bottom: 3px;
}

.upperNucleotide{
  border-radius: 5px 5px 0 0;
}

.lowerNucleotide{
  border-radius: 0 0 5px 5px;
}

@media only screen and(max-width: 425px){
  .path{
    border: none;
  }
}
