/* #settingsComponent */
#settingsComponent{
  padding: 0 5% 0 5%;
  text-align: left;
}

.settingsContainer{
  border-radius: 5px 5px 0 0;
  padding: 5%;
  background-color: #f15949;
  color: white;
  font-weight: bolder;
}

.settingHead{
  text-align: center;
  margin-bottom: 3%;
}

.algorithmSelect{
  width: 100%;
  height: 30px;
  font-size: 19px;
  background-color: white;
  border-radius: 5px;
}

.formInput{
  margin-top: 20px;
  width: 100%;
}

.formInputScore{
  width: 30%;
  display: inline-block;
  text-align: left;
  margin-top: 20px;
  margin-left: 1.5%;
  margin-right: 1.5%;
}

.userInput{
  width: 100%;
  height: 30px;
  font-size: 17px;
}

.inputField{
  margin-top: 2px;
  padding-left: 5px;
  border-radius: 5px;
}

.sequenceLabel{
  font-weight: bolder;
}

.sequenceInput, .sequenceBtn{
  height: 30px;
  font-size: 17px;
}

.dnaInputContainer{
  width: 100%;
}
.sequenceInput{
  border-radius: 5px;
  width: 49%;
  padding-left: 5px;
  margin-right: 1%;
}
.sequenceBtn{
  width: 10%;
  margin: 1%;
  border-radius: 5px;
  color: white;
}

.adenin{
  background-color: #E3A357;
}
.thymin{
  background-color: #E9D063;
}
.cytosin{
  background-color: #5B967B;
}
.guanin{
  background-color: #3D999D;
}

@media only screen and(max-width: 425px){
  #settingsComponent{
    padding: 1%;
    text-align: left;
    background-color: white;
  }
  .settingsContainer{
    padding: 1%;
    border-radius: 5px 5px 0 0;
  }
  .algorithmSelect{
    width: 100%;
    height: 17px;
    font-size: 14px;
  }

  .formInput{
    margin-top: 1px;
    width: 100%
  }

  .userInput{
    height: 17px;
    font-size: 15px;
  }

  .inputField{
    margin-top: 2px;
    width: 100%;
    height: 30px;
  }

  .inputLabel{
    display: block;
  }

  .formInputScore{
    margin-top: 2px;
  }
}
