/* #speedRangeComponent */

#speedRangeComponent{
  background-color: mediumseagreen;
  display: flex;
  align-items: center;
  padding: 2%;
}

.speedRangeContainer{
  text-align: center;
  background-color: #67d095;
  border-radius: 5px;
  padding: 1%;
}

@media only screen and(max-width: 425px){
  #speedRangeComponent{
    background-color: white;
    align-items: center;
    padding: 1%;
  }
  .speedRangeContainer{
    width: 100%;
    padding: 0;
  }
}
