/* #speedRangeComponent */

#speedRangeComponent{
  display: flex;
  align-items: center;
}

.speedRangeContainer{
  background-color: #f15949;
  border-radius: 0 0 5px 5px;
  width: 100%;
  text-align: left;
  padding-bottom: 5%;
}

.speedPickerLabel{
  width: 50%;
  color: white;
  font-weight: bolder;
  padding: 5%;
}

.speedInput{
  padding: 0 5%;
}


@media only screen and(max-width: 425px){
  #speedRangeComponent{
    background-color: white;
    align-items: center;
    padding: 1%;
  }
  .speedRangeContainer{
    width: 100%;
    padding: 0;
    border-radius: 0 0 5px 5px;
  }
}
