/* #speedRangeComponent */
@import "../global/colors";

#speedRangeComponent{
  display: flex;
  align-items: center;
}

.speedRangeContainer{
  background-color: $settingsBackground;
  border-radius: 0 0 5px 5px;
  width: 100%;
  text-align: left;
  padding-bottom: 5%;
}

.speedPickerLabel{
  width: 50%;
  color: white;
  font-weight: bolder;
  padding: 5%;
}

.speedInput{
  padding: 0 5%;
}

#speedPicker{
  cursor: pointer;
}
