/* General */
$backgroundLeftColor: #333239;

/* Settings */
$settingsBackground: #868b90;
$equationBackground: #868b90;

/* Matrix */
$chosenPath: #D770AD;
$selectedCell: #697ADC;
$ascendingCell: #AC92EC;
$innerCell: #e2dcdc;


/* DNA */
/* ATTENTION these colors must be changed manually in function sequenceColor in file Utils.tsx */
$adenin: #8CC152;
$thymin: #3BAFDA;
$cytosin:  #E9573F;
$guanin: #F6BB42;


 #settingsComponent{
  background-color: $backgroundLeftColor;
}

#logoComponent{
  background-color: $backgroundLeftColor;
}

.algorithmSelect, .sequenceInput, .inputField, #logoComponent, #settingsComponent{
  color: #1f1e1e;
}
