#alignedSequenceComponent, #alignmentPathComponent, #algorithmComponent{
  overflow: auto;
}

#alignedSequenceComponent{
    padding: 0 5%
}

#alignedSequenceComponent, #alignmentPathComponent{
  font-family: "Lucida Console", Courier, monospace;
}

#createdMatrixComponent{
    width: 100%;
}
