@import "../global/paddingMargin";

#alignedSequenceComponent{
    padding: 0 $componentPadding 0 $componentPadding;
    overflow: auto;
    border-right: 1px solid lightgrey;
}

#alignmentPathComponent{
    padding: 0 $componentPadding;
}

#alignedSequenceComponent, #alignmentPathComponent{
  font-family: "Lucida Console", Courier, monospace;
}

#alignedSequenceComponent{
    overflow: auto;
}
