#alignedSequenceComponent{
    padding: 0 0 0 5%;
    overflow: auto;
}

#alignmentPathComponent{
    padding: 0 5%;
}

#alignedSequenceComponent, #alignmentPathComponent{
  font-family: "Lucida Console", Courier, monospace;
}

#alignedSequenceComponent{
    width: 100%;
    height: 100%;
    overflow: auto;
}
